<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.ChatMapper">
    <resultMap id="BaseResultMap" type="com.orangeSoft.market.common.pojo.Chat">
        <id column="chat_id" jdbcType="BIGINT" property="chatId"/>
        <result column="chat_content_id" jdbcType="BIGINT" property="chatContentId"/>
        <result column="chat_date" jdbcType="TIMESTAMP" property="chatDate"/>
        <result column="sender_id" jdbcType="INTEGER" property="senderId"/>
        <result column="sender_type" jdbcType="VARCHAR" property="senderType"/>
        <result column="receiver_id" jdbcType="INTEGER" property="receiverId"/>
        <result column="receiver_type" jdbcType="VARCHAR" property="receiverType"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        chat_id
        , chat_content_id, chat_date, sender_id, sender_type, receiver_id, receiver_type
    </sql>
    <select id="selectByExample" parameterType="com.orangeSoft.market.common.pojo.ChatExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from chat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from chat
        where chat_id = #{chatId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from chat
        where chat_id = #{chatId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.orangeSoft.market.common.pojo.ChatExample">
        delete from chat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.orangeSoft.market.common.pojo.Chat">
        insert into chat (chat_id, chat_content_id, chat_date,
                          sender_id, sender_type, receiver_id,
                          receiver_type)
        values (#{chatId,jdbcType=BIGINT}, #{chatContentId,jdbcType=BIGINT}, #{chatDate,jdbcType=TIMESTAMP},
                #{senderId,jdbcType=INTEGER}, #{senderType,jdbcType=VARCHAR}, #{receiverId,jdbcType=INTEGER},
                #{receiverType,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.orangeSoft.market.common.pojo.Chat">
        insert into chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chatId != null">
                chat_id,
            </if>
            <if test="chatContentId != null">
                chat_content_id,
            </if>
            <if test="chatDate != null">
                chat_date,
            </if>
            <if test="senderId != null">
                sender_id,
            </if>
            <if test="senderType != null">
                sender_type,
            </if>
            <if test="receiverId != null">
                receiver_id,
            </if>
            <if test="receiverType != null">
                receiver_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chatId != null">
                #{chatId,jdbcType=BIGINT},
            </if>
            <if test="chatContentId != null">
                #{chatContentId,jdbcType=BIGINT},
            </if>
            <if test="chatDate != null">
                #{chatDate,jdbcType=TIMESTAMP},
            </if>
            <if test="senderId != null">
                #{senderId,jdbcType=INTEGER},
            </if>
            <if test="senderType != null">
                #{senderType,jdbcType=VARCHAR},
            </if>
            <if test="receiverId != null">
                #{receiverId,jdbcType=INTEGER},
            </if>
            <if test="receiverType != null">
                #{receiverType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.orangeSoft.market.common.pojo.ChatExample" resultType="java.lang.Long">
        select count(*) from chat
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update chat
        <set>
            <if test="record.chatId != null">
                chat_id = #{record.chatId,jdbcType=BIGINT},
            </if>
            <if test="record.chatContentId != null">
                chat_content_id = #{record.chatContentId,jdbcType=BIGINT},
            </if>
            <if test="record.chatDate != null">
                chat_date = #{record.chatDate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.senderId != null">
                sender_id = #{record.senderId,jdbcType=INTEGER},
            </if>
            <if test="record.senderType != null">
                sender_type = #{record.senderType,jdbcType=VARCHAR},
            </if>
            <if test="record.receiverId != null">
                receiver_id = #{record.receiverId,jdbcType=INTEGER},
            </if>
            <if test="record.receiverType != null">
                receiver_type = #{record.receiverType,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update chat
        set chat_id = #{record.chatId,jdbcType=BIGINT},
        chat_content_id = #{record.chatContentId,jdbcType=BIGINT},
        chat_date = #{record.chatDate,jdbcType=TIMESTAMP},
        sender_id = #{record.senderId,jdbcType=INTEGER},
        sender_type = #{record.senderType,jdbcType=VARCHAR},
        receiver_id = #{record.receiverId,jdbcType=INTEGER},
        receiver_type = #{record.receiverType,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.orangeSoft.market.common.pojo.Chat">
        update chat
        <set>
            <if test="chatContentId != null">
                chat_content_id = #{chatContentId,jdbcType=BIGINT},
            </if>
            <if test="chatDate != null">
                chat_date = #{chatDate,jdbcType=TIMESTAMP},
            </if>
            <if test="senderId != null">
                sender_id = #{senderId,jdbcType=INTEGER},
            </if>
            <if test="senderType != null">
                sender_type = #{senderType,jdbcType=VARCHAR},
            </if>
            <if test="receiverId != null">
                receiver_id = #{receiverId,jdbcType=INTEGER},
            </if>
            <if test="receiverType != null">
                receiver_type = #{receiverType,jdbcType=VARCHAR},
            </if>
        </set>
        where chat_id = #{chatId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.orangeSoft.market.common.pojo.Chat">
        update chat
        set chat_content_id = #{chatContentId,jdbcType=BIGINT},
            chat_date       = #{chatDate,jdbcType=TIMESTAMP},
            sender_id       = #{senderId,jdbcType=INTEGER},
            sender_type     = #{senderType,jdbcType=VARCHAR},
            receiver_id     = #{receiverId,jdbcType=INTEGER},
            receiver_type   = #{receiverType,jdbcType=VARCHAR}
        where chat_id = #{chatId,jdbcType=BIGINT}
    </update>
</mapper>