<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.CommodityOrderMapper">
    <resultMap id="userOrderResultMap" type="com.orangeSoft.market.pojo.UserOrderResult">
        <!-- 定义主键 ,非常重要。如果是多个字段,则定义多个id -->
        <!-- property：主键在pojo中的属性名 -->
        <!-- column：主键在数据库中的列名 -->
        <id property="orderId" column="order_id" />
        <!-- 定义普通属性 -->
        <result property="shopName" column="shop_name" />
        <result property="commodityName" column="commodity_name" />
        <result property="subName" column="sub_name" />
        <result property="price" column="price" />
        <result property="countCommodity" column="count_commodity"/>

    </resultMap>
    <select id="findOrderDetailByOrderId" resultType="com.orangeSoft.market.pojo.OrderDetailResult">
        select commodity_order.order_id,
               shop_name,
               commodity_name,
               sub_name,
               price,
               count_commodity,
               address_details,
               status_date
        from commodity_order
                 left join order_logistics ol on commodity_order.order_id = ol.order_id
                 left join receive_address ra on commodity_order.receive_address_id = ra.receive_address_id
                 left join order_stateflow os on commodity_order.order_id = os.order_id
                 left join data_dictionary dd on os.record_id = dd.record_id
                 left join shop s on commodity_order.sid = s.sid
                 left join sub_commodity sc on commodity_order.sub_id = sc.sub_id
                 left join commodity c on s.sid = c.sid
        where commodity_order.order_id = #{orderId}
    </select>
    <select id="findUserOrderByUserId" resultMap="userOrderResultMap">
        select commodity_order.order_id, shop_name, commodity_name, sub_name, price, count_commodity
        from commodity_order
                 left join receive_address ra on commodity_order.receive_address_id = ra.receive_address_id
                 left join shop s on commodity_order.sid = s.sid
                 left join sub_commodity sc on commodity_order.sub_id = sc.sub_id
                 left join commodity c on s.sid = c.sid
        where commodity_order.uid = #{uid}
    </select>
</mapper>
