<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.CommodityDetailsMapper">
    <resultMap id="BaseResultMap" type="com.orangeSoft.market.pojo.CommodityDetails">
        <id column="details_id" jdbcType="BIGINT" property="detailsId"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="details_url" jdbcType="VARCHAR" property="detailsUrl"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        details_id
        , cid, details_url
    </sql>
    <select id="selectByExample" parameterType="com.orangeSoft.market.pojo.CommodityDetailsExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from commodity_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from commodity_details
        where details_id = #{detailsId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from commodity_details
        where details_id = #{detailsId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.orangeSoft.market.pojo.CommodityDetailsExample">
        delete from commodity_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.orangeSoft.market.pojo.CommodityDetails">
        insert into commodity_details (details_id, cid, details_url)
        values (#{detailsId,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{detailsUrl,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.orangeSoft.market.pojo.CommodityDetails">
        insert into commodity_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detailsId != null">
                details_id,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="detailsUrl != null">
                details_url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detailsId != null">
                #{detailsId,jdbcType=BIGINT},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
            <if test="detailsUrl != null">
                #{detailsUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.orangeSoft.market.pojo.CommodityDetailsExample"
            resultType="java.lang.Long">
        select count(*) from commodity_details
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update commodity_details
        <set>
            <if test="record.detailsId != null">
                details_id = #{record.detailsId,jdbcType=BIGINT},
            </if>
            <if test="record.cid != null">
                cid = #{record.cid,jdbcType=BIGINT},
            </if>
            <if test="record.detailsUrl != null">
                details_url = #{record.detailsUrl,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update commodity_details
        set details_id = #{record.detailsId,jdbcType=BIGINT},
        cid = #{record.cid,jdbcType=BIGINT},
        details_url = #{record.detailsUrl,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.orangeSoft.market.pojo.CommodityDetails">
        update commodity_details
        <set>
            <if test="cid != null">
                cid = #{cid,jdbcType=BIGINT},
            </if>
            <if test="detailsUrl != null">
                details_url = #{detailsUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where details_id = #{detailsId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.orangeSoft.market.pojo.CommodityDetails">
        update commodity_details
        set cid         = #{cid,jdbcType=BIGINT},
            details_url = #{detailsUrl,jdbcType=VARCHAR}
        where details_id = #{detailsId,jdbcType=BIGINT}
    </update>
</mapper>