<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.CommodityMapper">
    <update id="updateCommentsCount">
        update commodity
        set comment_count = comment_count + 1
        <if test="praise == true">, praise_comment_count = praise_comment_count + 1</if>
        where cid = #{cid}
    </update>
    <select id="findByLabel" resultType="com.orangeSoft.market.pojo.CommoditySearchResult">
        select *
        from (
        select c.*, sc.price "lowestPrice"
        from commodity c
        inner join sub_commodity sc on c.cid = sc.cid
        left join commodity_label cl on c.cid = cl.cid
        left join data_dictionary dd on cl.record_id = dd.record_id
        where dd.item_name = #{label}
        and c.commodity_status = 1
        <if test="minValue != null">and sc.price &gt;= #{minValue}</if>
        <if test="maxValue != null">and sc.price &lt;= #{maxValue}</if>
        order by sc.price
        <if test="orderColumn != null">, ${orderColumn}</if>
        ) as tmp
        group by cid
    </select>

    <select id="findByKey" resultType="com.orangeSoft.market.pojo.CommoditySearchResult">
        select *
        from (
        select c.*, sc.price "lowestPrice"
        from commodity c
        inner join sub_commodity sc on c.cid = sc.cid
        left join commodity_label cl on c.cid = cl.cid
        left join data_dictionary dd on cl.record_id = dd.record_id
        where c.commodity_name like concat('%', #{keyword}, '%')
        and c.commodity_status = 1
        <if test="minValue != null">and sc.price &gt;= #{minValue}</if>
        <if test="maxValue != null">and sc.price &lt;= #{maxValue}</if>
        order by sc.price
        <if test="orderColumn != null">, ${orderColumn}</if>
        ) as tmp
        group by cid
    </select>

    <select id="findCommodityBySidOpen" resultType="com.orangeSoft.market.pojo.CommoditySearchResult">
        select *
        from (
                 select c.*, sc.price "lowestPrice"
                 from commodity c
                          inner join sub_commodity sc on c.cid = sc.cid
                 where sid = #{sid}
                   and commodity_status = 1
                 order by lowestPrice, comment_count desc
             ) as tmp
        group by cid
    </select>

    <select id="findCommodityBySidClose" resultType="com.orangeSoft.market.pojo.CommoditySearchResult">
        select *
        from (
                 select c.*, sc.price "lowestPrice"
                 from commodity c
                          inner join sub_commodity sc on c.cid = sc.cid
                 where sid = #{sid}
                   and commodity_status = 0
                 order by lowestPrice, comment_count desc
             ) as tmp
        group by cid
    </select>

    <select id="findRecommends" resultType="com.orangeSoft.market.entity.Commodity">
        select *
        from commodity c
        where #{recordId} in (
            select record_id
            from commodity_label cl
            where cl.cid = c.cid)
          and c.commodity_status = 1
        order by (c.praise_comment_count / c.comment_count) desc
        limit 10
    </select>

    <select id="findNewRecommends" resultType="com.orangeSoft.market.entity.Commodity">
        select *
        from commodity
        where commodity_status = 1
        order by (praise_comment_count / comment_count) desc
        limit 10
    </select>
</mapper>
