<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.DataDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.orangeSoft.market.pojo.DataDictionary">
    <id column="record_id" jdbcType="BIGINT" property="recordId" />
    <result column="t_index" jdbcType="VARCHAR" property="tIndex" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="record_create" jdbcType="TIMESTAMP" property="recordCreate" />
    <result column="record_description" jdbcType="VARCHAR" property="recordDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    record_id, t_index, item_name, record_create, record_description
  </sql>
  <select id="selectByExample" parameterType="com.orangeSoft.market.pojo.DataDictionaryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from data_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_dictionary
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_dictionary
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.orangeSoft.market.pojo.DataDictionaryExample">
    delete from data_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.orangeSoft.market.pojo.DataDictionary">
    insert into data_dictionary (record_id, t_index, item_name, 
      record_create, record_description)
    values (#{recordId,jdbcType=BIGINT}, #{tIndex,jdbcType=VARCHAR}, #{itemName,jdbcType=VARCHAR}, 
      #{recordCreate,jdbcType=TIMESTAMP}, #{recordDescription,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.orangeSoft.market.pojo.DataDictionary">
    insert into data_dictionary
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="tIndex != null">
        t_index,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="recordCreate != null">
        record_create,
      </if>
      <if test="recordDescription != null">
        record_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="tIndex != null">
        #{tIndex,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="recordCreate != null">
        #{recordCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDescription != null">
        #{recordDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.orangeSoft.market.pojo.DataDictionaryExample" resultType="java.lang.Long">
    select count(*) from data_dictionary
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update data_dictionary
    <set>
      <if test="record.recordId != null">
        record_id = #{record.recordId,jdbcType=BIGINT},
      </if>
      <if test="record.tIndex != null">
        t_index = #{record.tIndex,jdbcType=VARCHAR},
      </if>
      <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.recordCreate != null">
        record_create = #{record.recordCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordDescription != null">
        record_description = #{record.recordDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update data_dictionary
    set record_id = #{record.recordId,jdbcType=BIGINT},
      t_index = #{record.tIndex,jdbcType=VARCHAR},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      record_create = #{record.recordCreate,jdbcType=TIMESTAMP},
      record_description = #{record.recordDescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.orangeSoft.market.pojo.DataDictionary">
    update data_dictionary
    <set>
      <if test="tIndex != null">
        t_index = #{tIndex,jdbcType=VARCHAR},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="recordCreate != null">
        record_create = #{recordCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordDescription != null">
        record_description = #{recordDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orangeSoft.market.pojo.DataDictionary">
    update data_dictionary
    set t_index = #{tIndex,jdbcType=VARCHAR},
      item_name = #{itemName,jdbcType=VARCHAR},
      record_create = #{recordCreate,jdbcType=TIMESTAMP},
      record_description = #{recordDescription,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>