<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.ReceiveAddressMapper">
    <resultMap id="BaseResultMap" type="com.orangeSoft.market.pojo.ReceiveAddress">
        <id column="receive_address_id" jdbcType="INTEGER" property="receiveAddressId"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="address_details" jdbcType="VARCHAR" property="addressDetails"/>
        <result column="is_default" jdbcType="BIT" property="isDefault"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        receive_address_id
        , uid, address_details, is_default
    </sql>
    <select id="selectByExample" parameterType="com.orangeSoft.market.pojo.ReceiveAddressExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from receive_address
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from receive_address
        where receive_address_id = #{receiveAddressId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from receive_address
        where receive_address_id = #{receiveAddressId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.orangeSoft.market.pojo.ReceiveAddressExample">
        delete from receive_address
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.orangeSoft.market.pojo.ReceiveAddress">
        insert into receive_address (receive_address_id, uid, address_details,
                                     is_default)
        values (#{receiveAddressId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{addressDetails,jdbcType=VARCHAR},
                #{isDefault,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.orangeSoft.market.pojo.ReceiveAddress">
        insert into receive_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiveAddressId != null">
                receive_address_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="addressDetails != null">
                address_details,
            </if>
            <if test="isDefault != null">
                is_default,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiveAddressId != null">
                #{receiveAddressId,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="addressDetails != null">
                #{addressDetails,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                #{isDefault,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.orangeSoft.market.pojo.ReceiveAddressExample"
            resultType="java.lang.Long">
        select count(*) from receive_address
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update receive_address
        <set>
            <if test="record.receiveAddressId != null">
                receive_address_id = #{record.receiveAddressId,jdbcType=INTEGER},
            </if>
            <if test="record.uid != null">
                uid = #{record.uid,jdbcType=INTEGER},
            </if>
            <if test="record.addressDetails != null">
                address_details = #{record.addressDetails,jdbcType=VARCHAR},
            </if>
            <if test="record.isDefault != null">
                is_default = #{record.isDefault,jdbcType=BIT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update receive_address
        set receive_address_id = #{record.receiveAddressId,jdbcType=INTEGER},
        uid = #{record.uid,jdbcType=INTEGER},
        address_details = #{record.addressDetails,jdbcType=VARCHAR},
        is_default = #{record.isDefault,jdbcType=BIT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.orangeSoft.market.pojo.ReceiveAddress">
        update receive_address
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="addressDetails != null">
                address_details = #{addressDetails,jdbcType=VARCHAR},
            </if>
            <if test="isDefault != null">
                is_default = #{isDefault,jdbcType=BIT},
            </if>
        </set>
        where receive_address_id = #{receiveAddressId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.orangeSoft.market.pojo.ReceiveAddress">
        update receive_address
        set uid             = #{uid,jdbcType=INTEGER},
            address_details = #{addressDetails,jdbcType=VARCHAR},
            is_default      = #{isDefault,jdbcType=BIT}
        where receive_address_id = #{receiveAddressId,jdbcType=INTEGER}
    </update>
</mapper>