<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.SubCommodityMapper">
  <resultMap id="BaseResultMap" type="com.orangeSoft.market.pojo.SubCommodity">
    <id column="sub_id" jdbcType="INTEGER" property="subId" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="sub_name" jdbcType="VARCHAR" property="subName" />
    <result column="sub_icon" jdbcType="VARCHAR" property="subIcon" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="price" jdbcType="DOUBLE" property="price" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    sub_id, cid, sub_name, sub_icon, stock, price
  </sql>
  <select id="selectByExample" parameterType="com.orangeSoft.market.pojo.SubCommodityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sub_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sub_commodity
    where sub_id = #{subId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sub_commodity
    where sub_id = #{subId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.orangeSoft.market.pojo.SubCommodityExample">
    delete from sub_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.orangeSoft.market.pojo.SubCommodity">
    insert into sub_commodity (sub_id, cid, sub_name, 
      sub_icon, stock, price
      )
    values (#{subId,jdbcType=INTEGER}, #{cid,jdbcType=BIGINT}, #{subName,jdbcType=VARCHAR}, 
      #{subIcon,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.orangeSoft.market.pojo.SubCommodity">
    insert into sub_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        sub_id,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="subName != null">
        sub_name,
      </if>
      <if test="subIcon != null">
        sub_icon,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="subId != null">
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="subName != null">
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="subIcon != null">
        #{subIcon,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.orangeSoft.market.pojo.SubCommodityExample" resultType="java.lang.Long">
    select count(*) from sub_commodity
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sub_commodity
    <set>
      <if test="record.subId != null">
        sub_id = #{record.subId,jdbcType=INTEGER},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.subName != null">
        sub_name = #{record.subName,jdbcType=VARCHAR},
      </if>
      <if test="record.subIcon != null">
        sub_icon = #{record.subIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sub_commodity
    set sub_id = #{record.subId,jdbcType=INTEGER},
      cid = #{record.cid,jdbcType=BIGINT},
      sub_name = #{record.subName,jdbcType=VARCHAR},
      sub_icon = #{record.subIcon,jdbcType=VARCHAR},
      stock = #{record.stock,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.orangeSoft.market.pojo.SubCommodity">
    update sub_commodity
    <set>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="subName != null">
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="subIcon != null">
        sub_icon = #{subIcon,jdbcType=VARCHAR},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where sub_id = #{subId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.orangeSoft.market.pojo.SubCommodity">
    update sub_commodity
    set cid = #{cid,jdbcType=BIGINT},
      sub_name = #{subName,jdbcType=VARCHAR},
      sub_icon = #{subIcon,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE}
    where sub_id = #{subId,jdbcType=INTEGER}
  </update>
</mapper>