<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orangeSoft.market.mapper.UserCommentMapper">
    <resultMap id="BaseResultMap" type="com.orangeSoft.market.common.pojo.UserComment">
        <id column="comment_id" jdbcType="BIGINT" property="commentId"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="praise" jdbcType="BIT" property="praise"/>
        <result column="sub_comment" jdbcType="BIGINT" property="subComment"/>
        <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        comment_id
        , uid, praise, sub_comment, comment_time
    </sql>
    <select id="selectByExample" parameterType="com.orangeSoft.market.common.pojo.UserCommentExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user_comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_comment
        where comment_id = #{commentId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user_comment
        where comment_id = #{commentId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.orangeSoft.market.common.pojo.UserCommentExample">
        delete from user_comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.orangeSoft.market.common.pojo.UserComment">
        insert into user_comment (comment_id, uid, praise,
                                  sub_comment, comment_time)
        values (#{commentId,jdbcType=BIGINT}, #{uid,jdbcType=INTEGER}, #{praise,jdbcType=BIT},
                #{subComment,jdbcType=BIGINT}, #{commentTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.orangeSoft.market.common.pojo.UserComment">
        insert into user_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                comment_id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="praise != null">
                praise,
            </if>
            <if test="subComment != null">
                sub_comment,
            </if>
            <if test="commentTime != null">
                comment_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null">
                #{commentId,jdbcType=BIGINT},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=INTEGER},
            </if>
            <if test="praise != null">
                #{praise,jdbcType=BIT},
            </if>
            <if test="subComment != null">
                #{subComment,jdbcType=BIGINT},
            </if>
            <if test="commentTime != null">
                #{commentTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.orangeSoft.market.common.pojo.UserCommentExample"
            resultType="java.lang.Long">
        select count(*) from user_comment
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user_comment
        <set>
            <if test="record.commentId != null">
                comment_id = #{record.commentId,jdbcType=BIGINT},
            </if>
            <if test="record.uid != null">
                uid = #{record.uid,jdbcType=INTEGER},
            </if>
            <if test="record.praise != null">
                praise = #{record.praise,jdbcType=BIT},
            </if>
            <if test="record.subComment != null">
                sub_comment = #{record.subComment,jdbcType=BIGINT},
            </if>
            <if test="record.commentTime != null">
                comment_time = #{record.commentTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user_comment
        set comment_id = #{record.commentId,jdbcType=BIGINT},
        uid = #{record.uid,jdbcType=INTEGER},
        praise = #{record.praise,jdbcType=BIT},
        sub_comment = #{record.subComment,jdbcType=BIGINT},
        comment_time = #{record.commentTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.orangeSoft.market.common.pojo.UserComment">
        update user_comment
        <set>
            <if test="uid != null">
                uid = #{uid,jdbcType=INTEGER},
            </if>
            <if test="praise != null">
                praise = #{praise,jdbcType=BIT},
            </if>
            <if test="subComment != null">
                sub_comment = #{subComment,jdbcType=BIGINT},
            </if>
            <if test="commentTime != null">
                comment_time = #{commentTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where comment_id = #{commentId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.orangeSoft.market.common.pojo.UserComment">
        update user_comment
        set uid          = #{uid,jdbcType=INTEGER},
            praise       = #{praise,jdbcType=BIT},
            sub_comment  = #{subComment,jdbcType=BIGINT},
            comment_time = #{commentTime,jdbcType=TIMESTAMP}
        where comment_id = #{commentId,jdbcType=BIGINT}
    </update>
</mapper>